<div class="page-header">
  <h3><%= @users.name %></h3>
</div>

<div class="row">
  <dd><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/96/Kellogg_School_of_Management.svg/1280px-Kellogg_School_of_Management.svg.png" width="200"></dd> </br>
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Phone</dt>
      <dd><%= @users.phone %></dd>

      <dt>Email</dt>
      <dd><%= @users.email %></dd>

      <dt>Slack</dt>
      <dd><%= @users.slack %></dd>

      <dt>Preferred Contact Method</dt>
      <dd><%= @users.preferred_contact_method %></dd>

  <br />
  <h6 class="text-info"> Active Ticket Listings for <%= @users.name %>: </h6>

      <div>
        <div class="row">
        <div class="col-md-6">
          <table class="table table-striped table-hover">
            <tr class="info">
              <th></th>
              <th text-align="middle">Event</th>
              <th text-align="middle">Q</th>
              <th text-align="middle">Price</th>
              <th text-align="middle">Type</th>
            </tr>

            <% @users.tickets.each do |ticket| %>
            <tr>
              <th></th>
              <th><a href="/events/<%= ticket.event_id %>"> <%= ticket.event.name %></a></th>
              <th><%= ticket.quantity %></th>
              <th><%= number_to_currency(ticket.price) %></th>
              <th><%= ticket.ticket_type %></th>
            </tr>
            <% end %>

          </table>
          </div>
        </div>

      </div>


  </div>
</div>
