<!-- Validation failure messages -->
<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h4 class="text-info">Don't See an Event?  Add a New Kellogg Happening Here to Begin Listing Tickets!</h4>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          <strong>Name</strong>
        </label>

        <input type="text" id="name" name="name" placeholder="enter the event name here" class="form-control" value="<%= @event.name %>">
      </div>

      <!-- Label and input for event_description -->
        <div class="form-group">
          <label for="event_description" class="control-label">
            <strong>Event Description</strong>
          </label>

          <textarea id="event_description" name="event_description" placeholder="add an event description here" class="form-control" rows="3"><%= @event.event_description %></textarea>
        </div>

        <!-- Label and input for event_category -->
        <div class="form-group">
          <label for="event_category" class="control-label">
            <strong>Event Category</strong>
          </label>

          <div class="col-md-14">
            <select class="form-control" id="event_category" id="quantity" name="event_category" value="<%= @event.event_category %>">
              <option>Social</option>
              <option>Cultural</option>
              <option>Professional</option>
              <option>Sports</option>
              <option>Concert</option>
              <option>Academic</option>
              <option>Other</option>
            </select>
          </div>
        </div>

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          <strong>Start Date and Time</strong>
        </label>

        <!--<input type="text" id="start_time" name="start_time" placeholder="start time" class="form-control" value="<%= @event.start_time %>">-->

        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" name="start_time" id="start_time" placeholder="start_time" value="<%= @event.start_time %>">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="control-label">
          <strong>End Date and Time</strong>
        </label>

        <!--<input type="text" id="end_time" name="end_time" placeholder="end time" class="form-control" value="<%= @event.end_time %>">-->

        <div class='input-group date' id='datetimepicker2'>
          <input type='text' class="form-control" name="end_time" id="end_time" placeholder="end_time" value="<%= @event.end_time %>">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

      </div>

      <!-- Label and input for ticket_face_value -->
      <div class="form-group">
        <label for="ticket_face_value" class="control-label">
          <strong>Ticket Face Value</strong>
        </label>

        <input type="text" id="ticket_face_value" name="ticket_face_value" placeholder="enter the face value ticket price here" class="form-control" value="<%= @event.ticket_face_value %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          <strong>Address</strong>
        </label>

        <input type="text" id="address" name="address" placeholder="enter the full address here" class="form-control" value="<%= @event.address %>">
      </div>

      <!-- Label and input for campusgroups_url -->
      <div class="form-group">
        <label for="campusgroups_url" class="control-label">
          <strong>CampusGroups URL</strong>
        </label>

        <input type="text" id="campusgroups_url" name="campusgroups_url" placeholder="paste the CG link here" class="form-control" value="<%= @event.campusgroups_url %>">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          <strong>Image URL</strong>
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="add the image url here" class="form-control" value="<%= @event.image_url %>">
      </div>

      <button class="btn btn-success">
        Create Event
      </button>
      or
      <a href="/events">Cancel</a>
    </form>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker2').datetimepicker();
  });
</script>
