<div class="page-header">
  <h3 class="text-info"><%= @event.name %></h3>
</div>

<div class="row">
  <dd><img src="<%= @event.image_url %>" width="100" class="col-md-6 mb-2"> </dd>
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Event Description</dt>
      <dd><%= @event.event_description %></dd>

      <dt>Start Time</dt>
      <dd>
        <%= @event.starts_at.strftime('%b %e, %Y') %> @
        <%= @event.starts_at.strftime('%l:%M%P') %>
      </dd>

      <dt>End Time</dt>
      <dd>
        <%= @event.ends_at.strftime('%b %e, %Y') %> @
        <%= @event.ends_at.strftime('%l:%M%P') %>
      </dd>

      <dt>Ticket Face Value</dt>
      <dd><%= number_to_currency(@event.ticket_face_value) %></dd>

      <dt>Address</dt>
      <dd><%= @event.address %></dd>

      <dt>Tickets Available</dt>
      <dd><%= @event.tickets.sum(:quantity) %></dd>

      <dt>Average Listing Price</dt>
      <dd><%= number_to_currency(@event.tickets.average(:price)) %></dd>

      <dt>CampusGroups</dt>
      <dd> <a href="<%= @event.campusgroups_url %>"></dt> CampusGroups Event Page</a> </dd>

      <dt>Event Category</dt>
      <dd><%= @event.event_category %></dd>

  </div>
</div>


<h5 class="text-info"> Active Ticket Listings for <%= @event.name %>: </h5>

<div>
  <div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr class="info">
        <th></th>
        <th>Name of Seller</th>
        <th>Quantity</th>
        <th>Price per Ticket</th>
        <th>Type</th>
        <th>Contact Method</th>
      </tr>

      <% @event.tickets.each do |ticket| %>
      <tr>
        <th></th>
        <th><a href="/users/<%= ticket.user_id %>"> <%= ticket.user.name %></a></th>
        <th><%= ticket.quantity %></th>
        <th><%= number_to_currency(ticket.price) %></th>
        <th><%= ticket.ticket_type %></th>
        <th><a href="/users/<%= ticket.user_id %>"> <%= ticket.user.preferred_contact_method %></a></th>
      </tr>
      <% end %>

    </table>
    </div>
  </div>

</div>

<br />

<div class="btn-group btn-group-justified">
  <a href="/events" class="btn btn-primary">
    Back
  </a>
  <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
    Edit
  </a>
  <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
    Delete
  </a>

</div>
