<div class="page-header">
  <h3><%= @event.name %></h3>
</div>

<div class="row">
  <dd><img src="<%= @event.image_url %>" width="100" class="col-md-4 mb-2"></dd>
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Event description</dt>
      <dd><%= @event.event_description %></dd>

      <dt>Start date</dt>
      <dd><%= @event.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @event.end_date %></dd>

      <dt>Start time</dt>
      <dd><%= @event.start_time %></dd>

      <dt>End time</dt>
      <dd><%= @event.end_time %></dd>

      <dt>Ticket face value</dt>
      <dd><%= @event.ticket_face_value %></dd>

      <dt>Address</dt>
      <dd><%= @event.address %></dd>

      <dt>Tickets available</dt>
      <dd><%= @event.tickets.sum(:quantity) %></dd>

      <dt>Campusgroups url</dt>
      <dd><%= @event.campusgroups_url %></dd>

      <dt>Event category</dt>
      <dd><%= @event.event_category %></dd>


  </div>
</div>

<div>
  <div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr class="info">
        <th></th>
        <th>Name of Seller</th>
        <th>Quantity</th>
        <th>Price per Ticket</th>
        <th>Type</th>
        <th>Contact Method</th>
      </tr>

      <% @event.tickets.each do |ticket| %>
      <tr>
        <th></th>
        <th><a href="/users/<%= ticket.user_id %>"> <%= ticket.user.name %></a></th>
        <th><%= ticket.quantity %></th>
        <th><%= ticket.price %></th>
        <th><%= ticket.ticket_type %></th>
        <th><a href="/users/<%= ticket.user_id %>"> <%= ticket.contact_method %></a></th>
      </tr>
      <% end %>

    </table>
    </div>
  </div>

</div>

<br />

<div class="btn-group btn-group-justified">
  <a href="/events" class="btn btn-primary">
    Back
  </a>
  <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
    Edit
  </a>
  <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
    Delete
  </a>

</div>
