<!-- Validation failure messages -->
<% if @ticket.errors.any? %>
  <% @ticket.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3 class="text-info">Edit Your Existing Ticket Listing for <%= @ticket.event.name %> </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_ticket/<%= @ticket.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <div class="form-group">

        <input type="hidden" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= @ticket.event_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @ticket.user_id %>">
      </div>

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          <strong>Quantity</strong>
        </label>

        <div class="col-md-14">
          <select class="form-control" id="select" id="quantity" placeholder="quantity" name="quantity" value="<%= @ticket.quantity %>">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          <strong>Price per Ticket</strong>
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @ticket.price %>">
      </div>

      <!-- Label and input for ticket_type -->
      <div class="form-group">
        <label for="ticket_type" class="control-label">
          <strong>Ticket Type</strong>
        </label>

        <input type="text" id="ticket_type" name="ticket_type" placeholder="Ticket type" class="form-control" value="<%= @ticket.ticket_type %>">
      </div>

      <button class="btn btn-warning">
        Update Ticket
      </button>
      or
      <a href="/tickets/<%= @ticket.id %>">Cancel</a>
    </form>
  </div>
</div>
