<!-- Validation failure messages -->
<% if @ticket.errors.any? %>
  <% @ticket.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Sell a New Ticket</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_ticket" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :name, @ticket.event_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">

        <input id="user_id" name="user_id" type="hidden" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Quantity
        </label>

        <div class="col-md-14">
          <select class="form-control" id="select" id="quantity" name="quantity" value="<%= @ticket.quantity %>">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <!--<input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="<%= @ticket.quantity %>">-->
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @ticket.price %>">
      </div>

      <!-- Label and input for ticket_type -->
      <div class="form-group">
        <label for="ticket_type" class="control-label">
          Ticket type
        </label>

        <input type="text" id="ticket_type" name="ticket_type" placeholder="Ticket type" class="form-control" value="<%= @ticket.ticket_type %>">
      </div>

      <!-- Label and input for contact_method -->
      <div class="form-group">
        <label for="contact_method" class="control-label">
          Contact method
        </label>

        <dd><%= current_user.preferred_contact_method %></dd>
        <!--<input type="text" id="contact_method" name="contact_method" placeholder="Contact method" class="form-control" value="<%= @ticket.contact_method %>">-->
      </div>

      <button class="btn btn-success">
        Create Ticket
      </button>
      or
      <a href="/tickets">Cancel</a>
    </form>
  </div>
</div>
